<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestCon" value="User ID=Administrator;Password=123456789;Host=localhost;Port=5432;Database=POS;Pooling=false;" />
	</appSettings>
	<connectionStrings>
		<add name="TestCon" connectionString="User ID=Administrator;Password=123456789;Host=localhost;Port=5432;Database=POS;Pooling=false;" />
	</connectionStrings>
</configuration>